<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <img src="<%= img %>" alt="<%= title %>">
     <ul>
    <li><a href="/about.html">Про нас</a></li>
    <li><a href="/menu">Меню</a></li>
    <li><a href="/addPizza">Додати рецепт</a></li>
  </ul>
</body>

</html>